@use "./base";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css);

main.main-container{
    // background-color: bisque;
    padding-inline: 1em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, minmax(100px, auto));
    grid-template-areas: 
    "main-sb  main-sb   header      header     header      header      header      header      header      header      header       header "
    "main-sb  main-sb   second-sb   second-sb  main-body   main-body   main-body   main-body   main-body   main-body   main-body    main-body "
    "main-sb  main-sb   second-sb   second-sb  main-body   main-body   main-body   main-body   main-body   main-body   main-body    main-body "
    "main-sb  main-sb   second-sb   second-sb  main-body   main-body   main-body   main-body   main-body   main-body   main-body    main-body "
    "main-sb  main-sb   second-sb   second-sb  main-body   main-body   main-body   main-body   main-body   main-body   main-body    main-body "
    "main-sb  main-sb   second-sb   second-sb  main-body   main-body   main-body   main-body   main-body   main-body   main-body    main-body "
    "main-sb  main-sb   second-sb   second-sb  main-body   main-body   main-body   main-body   main-body   main-body   main-body    main-body "
    "main-sb  main-sb   second-sb   second-sb  main-body   main-body   main-body   main-body   main-body   main-body   main-body    main-body "
    ;
    
    aside.main-sidebar{
        background-color: rgb(235, 205, 205);
        grid-area: main-sb;
        display: flex;    
        .MainSidebar{
            flex: 1;
        }
    }


    header.HeaderComponent{
        background-color: rgb(193, 193, 243);
        grid-area: header;
    }
    aside.second-sidebar{
        background-color: darkseagreen;
        grid-area: second-sb;
    }
    div.main-body{
        grid-area: main-body;
        table.product-list-table{
            background-color: rgb(237, 239, 243);
            padding: 1em;
            border-spacing: 0 1em;
            // instead or row gap, column gap
            width: 100%;
            height: 100%;
        tbody tr{
            background-color: white;
            td{
                padding-block: .5em;

            }
            td:first-of-type{
                padding-left: .7em;
                border-radius: .5em 0 0 .5em;
            } 
            td:last-of-type{
                padding-right: .7em;
                border-radius: 0 .5em .5em 0;
            }

        }
            th{
                // th have text align center by default
                text-align: left;
            }
        }
    }
}

thead.thead-container{
    background-color: rgb(237, 239, 243);
    box-sizing: border-box;

}

.img-size{
    width: 2em;

}




