@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css);


.HeaderComponent {
    // important-this encapsulates all elements inside this component in css
    nav ul{
        background-color: rgb(248, 249, 253);
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        padding: 0;
        padding-block: 3.5em;
        list-style-type: none;
        
    }
    nav li {
        font-size: 2.5em;
        color: rgb(115, 165, 166);
        position: relative;
        padding-left: 20px;
        // margin-bottom: 1.8em; 
    }
    nav li::before{
        margin-right: .5em;
        font-family: 'FontAwesome';
    }
    nav li:hover{
        // this is affecting both the sidebar fully but the header nav li is still only the menu icon getiing affected and just its size, not the color
        // background-color: rgb(194, 174, 174);
        color: black;
    }


    nav li.menu::before {
        content: "\f0c9"; 
        
    }

    nav li.mail::after {
        font-family: "FontAwesome";
        content: "\f0d7"; 
        
    }
    nav li.mail i{
        color: inherit;
    }
    .user-profile .img-size{
        vertical-align: middle;
        width: 2em;
        border-radius: 50%;
    }

    .mail-user-wrapper{
        display: flex;
        align-items: center;
    }
}