<link rel="stylesheet" href="/styles/components/header.css">


<header class="HeaderComponent">
    <nav>
        <ul>
            <li class="menu">
                <a href="'"></a>
            </li>
            
            <div class="mail-user-wrapper">
                <li class="mail">
                    <i class="fa-solid fa-sort-down"></i>
                </li>
                <li class="user-profile" >User Name
                        <img class="img-size" src="../assets/images/portrait.jpeg" alt="">
                </li>
            </div>
        </ul>
    </nav>           
</header>