<link rel="stylesheet" href="../styles/components/sidebar.css">

<body>
    <main>
        <aside class="MainSidebar">
            <nav>
                <ul>
                    <li class="manage">Manage</li>
                    <li class="user-info">User Info</li>
                    <li class="product">Product</li>
                    <li class="order">Order</li>
                    <li class="system">System</li>
                    <li class="setting">Setting</li>
                </ul>
            </nav>
        </aside>
    </main>
</body>